body {
    margin: 0;
    background-image: url("assets/background.jpg");
    background-size: cover;
    /* background-position: center; */
    font-family: "Libertinus Mono", monospace;
}

#start-page {
    min-height: 100dvh;
    font-family: "Libertinus Mono", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f3dff2;
    background-image: url("assets/carnation_background.png");
    background-size: cover;
    background-position: center;
    font-size: 16px;

}

#intro {
    font-size: 80px;
    font-family: "Libertinus Mono", monospace;
    font-weight: 400;
    justify-content: center;
    color: #d471c2;
}

#carnation{
    justify-content: center;
    align-content: center;
    width: 400px;
    height: 360px
}

#proceed {
    transition: 300ms ease;
    background-color: #d471c2;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #FCBCC9;
    font-family: "Libertinus Mono", monospace;
}

#proceed:hover {
    transition: 300ms ease;
    scale: 1.1;
}

#main-content {
    margin: 15px;
    color: #FFFFFF;
    text-shadow: 1px 1px #cc4444;
    transition: 300ms ease;
    display: none;
}

#greetings {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 1px#cc4444;
    font-weight: 400;
    font-size: 30px
}

#hor1 {
    height: 2px;
    background: #81ace4;
    box-shadow: 2px 2px  #6f3b62;
}



@media (max-width: 767px){
    #intro {
        font-size: 40px;
    }
}

